@page
@model ZTDB.MainApp.Pages.Flights.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.FlightDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.FlightDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Airline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Airline.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.OpCarrierFlightNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.OpCarrierFlightNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.OriginLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.OriginLocation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.DestinationLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.DestinationLocation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.PlannedDepartureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.PlannedDepartureTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.ActualDepartureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.ActualDepartureTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.DepartureDelay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.DepartureDelay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.TaxiOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.TaxiOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.TaxiIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.TaxiIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.WheelsOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.WheelsOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.WheelsOff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.WheelsOff)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.PlannedArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.PlannedArrivalTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.ActualArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.ActualArrivalTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.ArrivalDelay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.ArrivalDelay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.CancelCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.CancelCode.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Diverted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Diverted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.PlannedElapsedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.PlannedElapsedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.ActualElapsedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.ActualElapsedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.AirTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.AirTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.CarrierDelay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.CarrierDelay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.WeatherDelay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.WeatherDelay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.NasDelay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.NasDelay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.SecurityDelay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.SecurityDelay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.LateAircraftDelay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.LateAircraftDelay)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Flight.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
